@media print {
    body {
        -webkit-print-color-adjust: exact;
        padding: 0px;
    }
    main {
        padding: 40px 20px;
    background-color: #f5f7fb;
    }
    h2 {
        font-size: 18px;
    }
    .span-blue {
        background-color: #059e9d;
    }
    footer::after {
        content: "Copyright Lloyd.com";
        display: block;
        margin: 20px 0px;
        color: #000;
        font-size: 17px;
        font-weight: 500;
    }
}